// ======================================
// Forms
// ======================================

input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select, textarea {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  padding-left: 20px;
  border: 2px solid $gray-bdr;
  border-radius: 3px;

  ::placeholder {
    color: $gray;
    font-size: 16px;
  }
}

textarea {
  min-height: 195px;
  padding-top: 20px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('ibex/svg/arrow-black-down.svg');
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: 22px;
}

input[type=checkbox] {
  border: 1px solid red;
}

select::-ms-expand {
  display: none;
}

form {
  .gfield > label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
  }

  .gfield > div > span > label {
    display: block;
    color: $dark-gray;
    font-style: italic;
    margin-bottom: 10px;
  }

  ul, ol {
    list-style: none;
    padding: 0 30px 0 30px;
  }

  .ginput_container {
    display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    width: 100%;

    span {
      flex-grow: 1;
      flex-shrink: 0;
      padding: 0 5px;
    }
  }

  .address_line_1, .address_line_2 {
    flex-basis: 100%;
  }

  .ginput_container_multiselect {
    select {
      background-image: url('');
    }
  }

  .gfield_checkbox {
		li {
			position: relative;
			padding-left:40px;

			label {
				&:after {
					content:"";
          display:block;
          position: absolute;
					background:$gray;
					width:27px;
					height:27px;
					left:0;
					top:0;
					border-radius:3px;
					z-index: 0;
				}

				&:before {
					content:"";
					display:block;
				  position: absolute;
				  width: 6px;
					height: 15px;
          left: 9px;
          top: 4px;
			    border: solid $white;
			    border-width: 0 3px 3px 0;
					transform: rotate(45deg);
					opacity:0;
					z-index:1;
					transition:all 100ms;
				}
			}
		}
	}

	input[type="checkbox"] {
		position: absolute;
		width:27px;
		height:27px;
		top:0;
		left:0;
    outline:none;
		appearance: none;
  	opacity:0;
    z-index:100;
		cursor: pointer;

    + label {
      cursor: pointer;
    }

		&:checked + label {
			&:before {
				opacity:1;
				top: 3px;
			}
		}
	}

  .gfield_radio {
		li {
			position: relative;
			padding-left:40px;

			label {
				&:after {
					content:"";
          display:block;
					position: absolute;
					background:$gray;
					width:27px;
					height:27px;
					left:0;
					top:0;
					border-radius:50%;
					z-index: 0;
				}

				&:before {
					content:"";
					display:block;
				  position: absolute;
          background-color: $white;
				  width: 15px;
					height: 15px;
			    left: 6px;
					bottom: 7px;
          border-radius: 50%;
					opacity:0;
					z-index:1;
					transition:all 100ms;
				}
			}
		}
	}

	input[type="radio"] {
		position: absolute;
		width:27px;
		height:27px;
		top:0;
		left:0;
		appearance: none;
    opacity:0;
    outline:none;
    z-index:100;
		cursor: pointer;
    + label {
      cursor: pointer;
    }
		&:checked + label {
			&:before {
				opacity:1;
			}
		}
	}
}


.gfield_error {
  background-color: white;
  border: 0 !important;

  input[type=date],
  input[type=email],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=url],
  select, textarea {
    border: 2px solid $red;
  }
}

.validation_message {
  color: $red;

  &:before {
  	content: '\f0d8';
  	font-family: 'FontAwesome';
  	color: $red;
  	font-size: 20px;
  	padding-right: 10px;
  }
}



/** Calendar */
.ui-datepicker {
  background-color: white;
  border: 1px solid $light-gray;
  border-radius: 3px;
  padding: 10px;
  @include box-shadow;

  table {
    width: 100%;
  }

  thead th {
  	border: none;
  	border-bottom: 1px solid $gray;
    background-color: $light-gray;
  }

  th {
  	text-align: center;
  	border: 1px solid transparent;
  	border-top: none;
  	padding: 7px 0;
  }

  tbody td {
  	text-align: center;
  	line-height: 2.5em;
  	transition: background 0.15s ease;
  	-webkit-transition: background 0.15s ease;
  	-o-transition: background 0.15s ease;
  	-moz-transition: background 0.15s ease;
  }

  tbody td a {
  	display: block;
  	text-decoration: none;
    width: 50px;
    background-color: white;
      transition: $transition;

    &:hover {
      background-color: $light-gray;
    }
  }

  tfoot td {
  	padding: 4px;
  }

  caption {
  	cursor: pointer;
  	margin: 0;
  	padding: 12px;
  	outline: 0 none !important;
  	font-weight: bold;
  	-webkit-border-top-left-radius: 2px;
  	-webkit-border-top-right-radius: 2px;
  	-moz-border-radius-topleft: 2px;
  	-moz-border-radius-topright: 2px;
  	border-top-left-radius: 2px;
  	border-top-right-radius: 2px;
  }

  tbody a {
  	display: block;
  	text-decoration: underline;
  }

  .ui-datepicker-next, .ui-datepicker-prev {
    // border: 1px solid red;
    display: inline-block;
    width: 50%;
    min-width: 50%;
    padding: 10px;
  }

  .ui-datepicker-next {
    text-align: right;
  }
}
