.g-header {
  background: #fff url('../../shared/img/headers/cxc@2x.png') 100px 0 no-repeat;
  background-size: 93% 78px
}

.swiper-button-next {
  right: 0px;
  background-image: url("../../shared/img/buttons/swipe-right-green@2x.png");
}

.swiper-button-prev {
  left: 0px;
  background-image: url("../../shared/img/buttons/swipe-left-green@2x.png");
}

.g-dialog__content-inner-wrapper {
  background-image: url("../img/popup.png");
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #00b040;
}

.swiper-slide.swiper-slide-active {
  text-align: center;
  padding-left: 0px;
}

.g-dialog__content.g-dialog__content-1 img {
  bottom: 13px;
  position: absolute;
  left: 45px;
  width: 585px;
}

.swiper-wrapper img {
  top: 40px;
}

.swiper-slide:nth-of-type(1).swiper-slide img {
  left: 50%;
  width: 700px;
  height: auto;
  margin-left: -350px;
}

.swiper-slide:nth-of-type(2).swiper-slide img {
  margin-left: 0;
}

$scale_modifier-pro: 834 / 1024;

@media screen and (max-width: 1112px) {
  .g-header {
    background: #fff url('../../shared/img/headers/cxc@2x.png') 82px 0 no-repeat;
    background-size: 93% 78px * $scale_modifier-pro;
  }

  .g-dialog__content.g-dialog__content-1 img {
    bottom: 13px * $scale_modifier-pro;
    left: 45px * $scale_modifier-pro;
    width: 585px * $scale_modifier-pro;
  }

  .swiper-wrapper img {
    top: 40px * $scale_modifier-pro;
  }

  .swiper-slide:nth-of-type(1).swiper-slide img {
    width: 700px * $scale_modifier-pro;
    margin-left: -350px * $scale_modifier-pro;
  }
}

$scale_modifier: 768 / 1024;

@media screen and (max-width: 1024px) {
  .g-header {
    background: #fff url('../../shared/img/headers/cxc@2x.png') 75px 0 no-repeat;
    background-size: 93% 78px * $scale_modifier;
  }

  .g-dialog__content.g-dialog__content-1 img {
    bottom: 13px * $scale_modifier;
    left: 45px * $scale_modifier;
    width: 585px * $scale_modifier;
  }

  .swiper-wrapper img {
    top: 40px * $scale_modifier;
  }

  .swiper-slide:nth-of-type(1).swiper-slide img {
    width: 700px * $scale_modifier;
    margin-left: -350px * $scale_modifier;
  }
}