// ======================================
// Homepage
// ======================================

html {
  height: auto;//100%;
}

.product_links {
  display: flex;
  align-items: center;
  justify-content: center;
  // @include responsive-width($max-width);

  img {
    min-height: 300px;
    background-color: $gray;
    margin: 10px;
  }
}
