// Carousel 
.masthead .inner-container {
    max-width: 705px;
    
    h1 {
        max-width: 534px;
    }

    .awYeah {
        margin: 0;
    }
    .large-blue-text {
        color: $royal-blue;
        font-family: $dinmedium;
        font-size: 48px;

        @media(max-width:768px) {
            font-size: 28px;
            line-height: 28px;
          }
    }

    .sub-text-blue {
        color: $royal-blue;
        font-size: 20px;
        font-family: $dinmedium;
        line-height: 26px;

        @media(max-width:768px) {
            font-size: 16px;
            line-height: 16px;
          }
    }

    .sub-text-white {
        color: $white;
        font-size: 20px;
        font-family: $dinmedium;
        line-height: 26px;
        max-width: 450px;
        
        @media(max-width:768px) {
            font-size: 16px;
            line-height: 16px;
          }
    }
    .sub-text-white {
        font-size: 20px;
        font-family: $dinmedium;
        line-height: 26px;
    }
    a {
        color: $white;
        font-size: 20px;
        margin-top: 50px;
        display: block;

        &:hover {
            color: $black;
            font-weight: 900;
        }
    }
}

.masthead--2 {
    .masthead__container {
        .inner-container {
            max-width: 100%;
            width: 100%;

            h1 {
                font-family: $dinlight;
            }
            
            .disclaimer {
                margin-top: 1rem;
                display: block;
                p {
                    color: $white;
                    font-family: $dinregularitalic;
                    font-size: 15px;
                    line-height: 19px;
                    max-width: 988px;
                }
            }
        }
    }
}

.masthead--3 {
    .masthead__container {
        .inner-container {
            h1 {
                max-width: 586px;
            }
            .ulc_date {
                color: $white;
                font-family: $dinmedium;
                font-size: 16px;
                margin-bottom: 1rem;
              }
        }
    }
}
// End Carousel

.blocks {
    display: block;
    width: 100%;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.75fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "one two"
          "three three"
          "four four";

          @media(max-width:$bp-tablet) {
            grid-template-areas:
            "one"
            "two"
            "three"
            "four";
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
        }

            &--item {
                padding: 7rem;
                background-size: cover;
                background-repeat: no-repeat;
                
                @media(max-width:$bp-tablet) {
                    padding: 2rem;
                }

                &:hover {
                    cursor: pointer;
                    filter: grayscale(1);
                }
                
                p {
                    color: #fff;
                    font-size: 20px;
                }
                h2 {
                    color: #fff;
                    font-family: $dinmedium;
                }
                a {
                    color: #fff;
                    margin-top: 40px;
                    display: inline-block;
                    font-size: 21px;
                    &:hover {
                        color: $black;
                        font-weight: 900;
                    }
                }
            }
            &--one {
                grid-area: one;
                background-image: url('ibex/images/two_background.gif');

                &:hover {
                    cursor: pointer;
                    filter: unset;

                    ~ .blocks__grid--two {
                        filter: grayscale(1);
                    }
                }
            }
            &--two {
                grid-area: two;
                background-image: url('ibex/images/two_background.jpg');
                min-height: 300px;
                background-position: 50% 50%;

                &:hover {
                    cursor: initial;
                    filter: unset;
                }
            }
            &--three {
                grid-area: three;
                // background-image: url('ibex/images/pipeline-video.gif');
                width:100%;
                min-height: 600px;
                position: relative;
                overflow: hidden;

                video {
                    object-fit: cover; // Set the magic
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }

                .text_container {
                    position: absolute;
                    z-index: 2;
                }

                &:hover {
                    cursor: initial;
                    filter: unset;
                }

                @media(max-width:$bp-tablet) {
                    min-height: 400px;
                }
            }
            &--four {
                grid-area: four;
                background-image: url('ibex/images/four_background.jpg');

                padding-top: 2rem;
                padding-bottom: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    max-width: 380px;
                    //display: none;
                    opacity: 0;
                    font-family: $dinmedium;
                    font-size: 18px;

                    a {
                        margin-top: unset;
                        text-decoration: none;
                        font-family: $dinmedium;
                        font-size: 18px;
                    }
                }
                &:hover {
                    p {
                        opacity: 1;
                    };
                }
            }
            &--five {
                grid-area: five;
                background-image: url('ibex/images/five_background.jpg');
            }
        }
    }