//program page
.x-background--left {
  background-image: url(ibex/images/peach-background.jpg);
}

  .content {
    padding:90px 0 150px 0;
    display: block;


    .flex {
      display: flex;
      justify-content: space-between;

      &__left {
        flex: 1;  
        max-width: 537px;
        p {
          margin-top: 0;
        }

        h6 {
          color: black;
          text-transform: uppercase;
          font-weight: 100;
          font-size: 20px;
        }
      }
      &__right {
        flex: 1;
        max-width: 537px;
        p {
          margin-top: 0;
          font-size: 16px;
          color: #000;
        }
        a {
          display: flex;
          align-items: center;
          color: $lilly-red;
          margin-left: 5px;
          text-transform: uppercase;
          font-size: 11px;

          &:hover {
            color: $lilly-dark-red;

            img {
              filter: invert(33%) sepia(100%) saturate(6426%) hue-rotate(
                  350deg
                  ) brightness(99%) contrast(94%);
            }
          }

          &:nth-child(2) {
            margin-left: 1rem;
          }

          img {
            margin-right: 5px;
          }
        }
        .flex {
          justify-content: flex-start;
        }
      }
    }


    p {
      font-size: 16px;
      font-family: $dinregular;
      line-height: 19px;
      margin: 5px 0;

      em {
        font-family: $dinregularitalic;
      }
    }

    flex-wrap: wrap;

    h1 {
      width: 100%;
      margin-bottom: 4px;
      font-size: 48px;
      font-family: $dinlight;
    }

    &__left {
      //padding-right: 60px;
    // width: 35%;

      h6 {
        font-family: $dinregularitalic;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        color: #000;

        + p {
          margin: 0;
        }
      }

    }

    &__right {
      width: 100% !important;
      max-width: 850px !important;

      p:first-of-type {
        img {
          margin-bottom:40px;
        }
      }
      
      .pres {
        color: $black;
        font-family: $dinbold;
        font-size: 18px;
        margin-bottom: 1.5rem;
      }

      h3 {
        clear:left;
        font-family: $dinbold;
        font-size: 30px;
        line-height: 31px;
        margin-top: 60px;
        color: $black;
        font-weight: 100;
      }

      h4 {
        font-family: $dinbold;
        font-size: 20px;
        line-height: 19px;
        color: $lilly-red;
        text-decoration: none;


        &.gray{
          margin-top: 15px;
          color: $dark-gray;
          font-family: $dinbold;
          font-size: 20px;
        }
      }

      h4 {
        margin-top:25px;
        + p {
          margin-top:0;
        }
      }
    }

  }

  .page-template-medical_disclosures {
    .x-background--left {
      background-image: url('ibex/images/gray_background.png');
    }
    p {
      line-height: 20px;

      em {
        padding-bottom: 2.5rem;
        line-height: 20px;
        display: block;
      }
    }
    h3 {
     &.has-text-color {
      font-family: "FFDINWebProBold", sans-serif;
      text-transform: uppercase;
      font-size: 30px;
      text-decoration: underline;
      margin: 15px 0 30px 0;
      } 
    }
    h4 {
      font-size: 22px;
      font-family: $dinbold;
      color: #000000;
      text-transform: uppercase;
      font-weight: 100;
    }
    .wp-block-columns {
      margin-top: 7rem;
      justify-content: space-between;
      
      .wp-block-column {
        max-width: 537px;
      }
    }
  }