.g-header {
  background: #fff url('../../shared/img/headers/jak1-2@2x.png') 100px 0 no-repeat;
  background-size: 1366px 78px;
}

.swiper-button-next {
  right: 0px;
  background-image: url("../../shared/img/buttons/swipe-right-green@2x.png");
}

.swiper-button-prev {
  left: 0px;
  background-image: url("../../shared/img/buttons/swipe-left-green@2x.png");
}

.g-dialog__content-inner-wrapper {
  background-image: url("../img/popup.png");
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #263f6a;
}

.swiper-wrapper img {
  margin-left: 0;
}

.g-dialog__content.g-dialog__content-1 img {
  bottom: 10px;
  position: absolute;
  left: 45px;
  width: 620px;
}

.study-link-1 {
  margin-top: 212px; }

$scale_modifier-pro: 834 / 1024;

@media screen and (max-width: 1112px) {
  .g-header {
    background: #fff url('../../shared/img/headers/jak1-2@2x.png') 82px 0 no-repeat;
    background-size: 1112px 78px * $scale_modifier-pro;
  }

  .swiper-slide.swiper-slide-active {
    padding-left: 50px * $scale_modifier-pro;
  }

  .g-dialog__content.g-dialog__content-1 img {
    bottom: 10px * $scale_modifier-pro;
    left: 45px * $scale_modifier-pro;
    width: 620px * $scale_modifier-pro;
  }

  .study-link-1 {
    margin-top: 212px * $scale_modifier-pro; }
}

$scale_modifier: 768 / 1024;

@media screen and (max-width: 1024px) {
  .g-header {
    background: #fff url('../../shared/img/headers/jak1-2@2x.png') 75px 0 no-repeat;
    background-size: 1024px 78px * $scale_modifier;
  }

  .swiper-slide.swiper-slide-active {
    padding-left: 50px * $scale_modifier;
  }

  .g-dialog__content.g-dialog__content-1 img {
    bottom: 10px * $scale_modifier;
    left: 45px * $scale_modifier;
    width: 620px * $scale_modifier;
  }

  .study-link-1 {
    margin-top: 212px * $scale_modifier; }
}
