.g-header {
  background: #fff url('../../shared/img/headers/interleukin-2-il-2-@2x.png') 100px 0 no-repeat;
  background-size: 1366px 78px;
}

.swiper-button-next {
  right: 0px;
  background-image: url("../../shared/img/buttons/swipe-right-blue@2x.png");
}

.swiper-button-prev {
  left: 0px;
  background-image: url("../../shared/img/buttons/swipe-left-blue@2x.png");
}

.g-dialog__content-inner-wrapper {
  background-image: url("../img/popup.png");
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #00a1de;
}

.swiper-slide.swiper-slide-active {
  text-align: center;
  padding-left: 0px;
}

.g-dialog__content.g-dialog__content-1 img {
  bottom: 0px;
  position: absolute;
  left: 20px;
}

.swiper-wrapper img {
  left: 50%;
  margin: 0 0 0 -485px;
}

.swiper-slide:nth-child(1) video,
#f-video-overlay {
  position: absolute;
  left: 50%;
  top: 190px;
  width: 425px;
  height: 425px;
  margin-left: -213px;
  z-index: -1;
}

$scale_modifier-pro: 834 / 1024;

@media screen and (max-width: 1112px) {
  .g-header {
    background: #fff url('../../shared/img/headers/interleukin-2-il-2-@2x.png') 82px 0 no-repeat;
    background-size: 1112px 78px * $scale_modifier-pro;
  }

  .g-dialog__content.g-dialog__content-1 img {
    left: 20px * $scale_modifier-pro;
  }

  .swiper-wrapper img {
    margin: 0 0 0 -485px * $scale_modifier-pro;
  }

  .swiper-slide:nth-child(1) video,
  #f-video-overlay {
    top: 190px * $scale_modifier-pro;
    width: 425px * $scale_modifier-pro;
    height: 425px * $scale_modifier-pro;
    margin-left: -213px * $scale_modifier-pro;
  }
}

$scale_modifier: 768 / 1024;

@media screen and (max-width: 1024px) {
  .g-header {
    background: #fff url('../../shared/img/headers/interleukin-2-il-2-@2x.png') 75px 0 no-repeat;
    background-size: 1024px 78px * $scale_modifier;
  }

  .g-dialog__content.g-dialog__content-1 img {
    left: 20px * $scale_modifier;
  }

  .swiper-wrapper img {
    margin: 0 0 0 -485px * $scale_modifier;
  }

  .swiper-slide:nth-child(1) video,
  #f-video-overlay {
    top: 190px * $scale_modifier;
    width: 425px * $scale_modifier;
    height: 425px * $scale_modifier;
    margin-left: -213px * $scale_modifier;
  }
}