.g-header {
  background: #fff url("../../shared/img/headers/il-17@2x.png") 100px 0 no-repeat;
  background-size: 93% 78px; }

.swiper-button-next {
  right: 0px;
  background-image: url("../../shared/img/buttons/swipe-right-blue@2x.png"); }

.swiper-button-prev {
  left: 0px;
  background-image: url("../../shared/img/buttons/swipe-left-blue@2x.png"); }

.g-dialog__content-inner-wrapper {
  background-image: url("../img/popup.png"); }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #00a1de; }

.g-dialog__content.g-dialog__content-1 img {
  bottom: 0px;
  position: absolute;
  left: 20px; }

.swiper-wrapper img {
  margin-left: 13%; }

.swiper-slide:nth-child(1) video,
#f-video-overlay {
  position: absolute;
  left: 515px;
  top: 205px;
  width: 340px;
  height: 340px;
  z-index: -1;
  max-width: 340px; }

@media screen and (max-width: 1112px) {
  .g-header {
    background: #fff url("../../shared/img/headers/il-17@2x.png") 82px 0 no-repeat;
    background-size: 93% 63.52734px; }
  .g-dialog__content.g-dialog__content-1 img {
    left: 16.28906px; }
  .swiper-slide:nth-child(1) video,
  #f-video-overlay {
    left: 419.44336px;
    top: 166.96289px;
    width: 276.91406px;
    height: 276.91406px;
    max-width: 276.91406px; } }

@media screen and (max-width: 1024px) {
  .g-header {
    background: #fff url("../../shared/img/headers/il-17@2x.png") 75px 0 no-repeat;
    background-size: 93% 58.5px; }
  .g-dialog__content.g-dialog__content-1 img {
    left: 15px; }
  .swiper-slide:nth-child(1) video,
  #f-video-overlay {
    left: 386.25px;
    top: 153.75px;
    width: 255px;
    height: 255px;
    max-width: 255px; } }
