.g-header {
  background: #fff url("../../shared/img/headers/il-13@2x.png") 100px 0 no-repeat;
  background-size: 1366px 78px; }

.swiper-button-next {
  right: 0px;
  background-image: url("../../shared/img/buttons/swipe-right-blue@2x.png"); }

.swiper-button-prev {
  left: 0px;
  background-image: url("../../shared/img/buttons/swipe-left-blue@2x.png"); }

.g-dialog__content-inner-wrapper {
  background-image: url("../img/popup.png"); }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #00a1de; }

.g-dialog__content.g-dialog__content-1 img {
  bottom: 0;
  position: absolute;
  left: 20px; }

.swiper-slide img {
  left: 50%;
  height: 85%;
  margin-left: 0%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%); }

.swiper-slide:nth-child(1) video,
#f-video-overlay {
  position: absolute;
  top: 31%;
  left: 50%;
  width: 386px;
  height: 386px;
  margin-left: 0%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1; }

@media screen and (max-width: 1112px) {
  .g-header {
    background: #fff url("../../shared/img/headers/il-13@2x.png") 82px 0 no-repeat;
    background-size: 1112px 63.52734px; }
  .g-dialog__content.g-dialog__content-1 img {
    left: 16.28906px; }
  .swiper-slide:nth-child(1) video,
  #f-video-overlay {
    width: 314.37891px;
    height: 314.37891px; } }

@media screen and (max-width: 1024px) {
  .g-header {
    background: #fff url("../../shared/img/headers/il-13@2x.png") 75px 0 no-repeat;
    background-size: 1024px 58.5px; }
  .g-dialog__content.g-dialog__content-1 img {
    left: 15px; }
  .swiper-slide:nth-child(1) video,
  #f-video-overlay {
    width: 289.5px;
    height: 289.5px; } }
