.g-header {
  background: #fff url('../../shared/img/headers/il-17@2x.png') 100px 0 no-repeat;
  background-size: 93% 78px;
}

.swiper-button-next {
  right: 0px;
  background-image: url("../../shared/img/buttons/swipe-right-purple@2x.png");
}

.swiper-button-prev {
  left: 0px;
  background-image: url("../../shared/img/buttons/swipe-left-purple@2x.png");
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #b1059d;
}

.swiper-slide img {
  margin-left: 2%;
}

.swiper-slide:nth-child(2) img {
  margin-left: 2.5%;
}


.swiper-slide:nth-child(3) img {
  margin-left: 4.5%;
}

.swiper-slide:nth-child(4) {
  background-image: url('../img/content/il-17-pathway-overview-4@2x.png');
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: 70px 50%;
  text-align: center;
  padding-left: 0px;
}

/* VideoJS styling start */

.vjs-controls-disabled .vjs-big-play-button,
.vjs-has-started .vjs-big-play-button,
.vjs-using-native-controls .vjs-big-play-button,
.vjs-error .vjs-big-play-button {
  display: inline-block;
  position: absolute;
  border: 0px solid transparent;
  top: calc(50% - 40px);
  left: calc(50% - 34px);
  border-radius: 100%;
  height: 70px;
  width: 70px;
  opacity: 0.01;
  cursor: pointer;
}

.swiper-slide:nth-child(4) #myvideo {
  position: absolute;
  outline: none;
  top: 155px;
  left: 50%;
  width: 860px;
  height: 481px;
  margin-left: -415px;
  overflow: hidden;
}

$scale_modifier-pro: 834 / 1024;

@media screen and (max-width: 1112px) {
  .g-header {
    background: #fff url('../../shared/img/headers/il-17@2x.png') 82px 0 no-repeat;
    background-size: 93% 78px * $scale_modifier-pro;
  }

  //.swiper-slide:nth-child(4) {
  //  background-position: 70px * $scale_modifier-pro 60%;
  //}

  .swiper-slide:nth-child(4) #myvideo {
    position: absolute;
    top: 155px * $scale_modifier-pro;
    width: 860px * $scale_modifier-pro;
    height: 481px * $scale_modifier-pro;
    margin-left: -415px * $scale_modifier-pro;
  }
}

$scale_modifier: 768 / 1024;

@media screen and (max-width: 1024px) {
  .g-header {
    background: #fff url('../../shared/img/headers/il-17@2x.png') 75px 0 no-repeat;
    background-size: 93% 78px * $scale_modifier;
  }

  //.swiper-slide:nth-child(4) {
  //  background-position: 70px * $scale_modifier 60%;
  //}

  .swiper-slide:nth-child(4) #myvideo {
    position: absolute;
    top: 155px * $scale_modifier;
    width: 860px * $scale_modifier;
    height: 481px * $scale_modifier;
    margin-left: -415px * $scale_modifier;
  }
}